@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.jumbotron{
    background-color: rgb(255, 165, 0);
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Pacifico', cursive;
    margin-top: 70px;
}
.caracteristics{
    flex: 1 250px;
    padding: 18px;
    box-shadow: 1px 1px 1px 2px rgb(255, 165, 0);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}
#botón{
    width: 100%;
    text-align: center;
}
.piepagina{
    background-color: rgb(255, 165, 0);
    padding: 40px 150px;
    font-family: 'Pacifico', cursive;
}
.formulario{
    margin: 50px auto;
}
.icon{
    margin-right: 5px;
    font-size: 30px;
}